#container {
    display: grid;
    justify-content: center;
    align-content: center;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-60%);
    background-color: gray;
    border-style: solid;
    height: 500px;
    width: 350px;
    margin: auto;
    grid-template-rows: 150px 300px;
    grid-template-columns: auto;
    grid-row-gap: 20px;
}

#display {
    background-color: black;
    height: 150px;
    width: 320px;
    justify-content: center;
    margin: auto;
}

#buttons {
    background-color: orange;
    display: grid;
    width: 320px;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#buttons>button {
    border-radius: 8px;
  
}
