:root {
    --numbers-hue: 120;
    --numbers-saturation: 0%;
    --numbers-lightness: 45%;
    --numbers-color: hsl(var(--numbers-hue), var(--numbers-saturation), var(--numbers-lightness));
    --operators-hue: 40;
    --operators-saturation: 100%;
    --operators-lightness: 50%;
    --operators-color: hsl(var(--operators-hue), var(--operators-saturation), var(--operators-lightness));
}

body {
    background-color: blanchedalmond;
    margin: 0px;
}

footer {
    text-align: center;
    position: fixed;
    margin-top: 5%;
    height: 30;
    width: 100%;
    bottom: 0;
}

.links {
    color: black;
    font-size: 15px;
    font-family: orbitron;
    font-weight: bold;
}

#container {
    display: grid;
    justify-content: center;
    align-content: center;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -60%);
    background-color: rgb(56, 53, 53);
    height: 500px;
    width: 350px;
    margin: auto;
    grid-template-rows: 120px 330px;
    grid-template-columns: auto;
    grid-row-gap: 20px;
    border-radius: 10px;
}

#display {
    display: grid;
    align-content: flex-end;
    background-color: rgb(102, 97, 97);
    height: 120px;
    width: 320px;
    margin: auto;
    border-radius: 10px;
}

#result {
    padding-right: 15px;
    text-align: right;
    color: white;
    overflow: hidden;
    word-wrap: break-word;
    font-family: orbitron;
    font-size: 35px;
}

#buttons {
    display: grid;
    width: 320px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#buttons>button {
    border-radius: 8px;
    font-family: orbitron;
    font-size: 17px;
}

.operators {
    background-color: var(--operators-color);
    color: white;
}

.numbers {
    background-color: var(--numbers-color);
    color: white;
}

button[value='zero'] {
    grid-column-start: 1;
    grid-column-end: 3;
}

button[value='clear'] {
    grid-column-start: 2;
    grid-column-end: 4;
}

.operators:hover,
.operators:focus {
    --operators-lightness: calc(var(--numbers-lightness) - 20%);
    cursor: pointer;
    background-color: hsl( var(--operators-hue), var(--operators-saturation), var(--operators-lightness));
}

.numbers:hover,
.numbers:focus {
    --numbers-lightness: calc(var(--numbers-lightness) - 10%);
    cursor: pointer;
    background-color: hsl( var(--numbers-hue), var(--numbers-saturation), var(--numbers-lightness));
}