#container {
    display: grid;
    justify-content: center;
    align-content: center;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -60%);
    background-color: rgb(56, 53, 53);
    height: 500px;
    width: 350px;
    margin: auto;
    grid-template-rows: 120px 330px;
    grid-template-columns: auto;
    grid-row-gap: 20px;
    border-radius: 10px;
}

#display {
    background-color: grey;
    height: 120px;
    width: 320px;
    margin: auto;
    border-radius: 10px;
    color: white;
    overflow: hidden;
    word-wrap: break-word;
    font-family: orbitron;
    font-size: 15px;
    align-items: flex-end;
    justify-content: flex-end;
}

#buttons {
    display: grid;
    width: 320px;
    font-size: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#buttons>button {
    border-radius: 8px;
    font-family: orbitron;
    font-size: 15px;
}

.operators {
    background-color: orange;
    color: white;
}

.numbers {
    background-color: grey;
    color: white;
}

button[value='zero'] {
    grid-column-start: 1;
    grid-column-end: 3;
}

button[value='clear'] {
    grid-column-start: 2;
    grid-column-end: 4;
}